@import url(//fonts.googleapis.com/css?family=Manrope);

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Manrope', sans-serif;

  &.noscroll {
    overflow: hidden;
  }
}

a, a:visited, a:hover {
  text-decoration: none;
}

h1 {
  width: 100%;
  padding-top: 5rem;
  /*In my opinion, ExtraBold typeface + ExtraBold font-weight (800) gives a much thicker look than in the design,
  while font-weight 600 is closer but not thick enough. I used the values provided by the handoff.*/ 
  font-family: Manrope-ExtraBold, sans-serif;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -0.5px;
  line-height: 48px;
  text-align: center;

  @include breakpoint-up (tablet) {
    width: 29.75rem;
    text-align: left;
  }
}

h2 {
  margin-top: 1.5rem;
  padding-bottom: 2.625rem;
  font-family: Manrope-SemiBold, sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.22px;
  line-height: 27px;
  text-align: center;

  @include breakpoint-up (tablet) {
    text-align: left;
  }
}

h3 {
  margin-top: 2.8125rem;
  /*In my opinion, ExtraBold typeface + ExtraBold font-weight (800) gives a much thicker look than in the design,
  while font-weight 600 is closer but not thick enough. I used the values provided by the handoff.*/
  font-family: Manrope-ExtraLight_ExtraBold, sans-serif;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.3px;
  line-height: 27px;
  text-align: center;

  @include breakpoint-up (tablet) {
    text-align: right;
  }
}

input, textarea {
  height: 2.5rem;
  padding: 0.5rem 1rem;
  font-family: Manrope-Regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.23px;
  line-height: 24px;
  color: $blueish;
  border-radius: 5px;
  border: 1px solid rgba(160, 169, 186, .5);
}

label {
  height: 1.1875rem;
  font-family: Manrope-SemiBold, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.17px;
  line-height: 17px;
  color: $d-black;
}

address {
  font-style: normal;
}

::placeholder {
  color: $blueish;
}

.padding {
  padding-right: 1rem;
  padding-left: 1rem;

  @include breakpoint-up (tablet) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  @include breakpoint-up (desktop) {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }

  @include breakpoint-up (widescreen) {
    padding-right: 7.5rem;
    padding-left: 7.5rem;
  }
}

//Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

//Visibility
.hide-for-mobile {
  @include breakpoint-down(desktop) {
    display:none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(desktop) {
    display:none;
  }
}